node_modules
.next
out
.git
.github
.husky
.vscode
*.local
.env.local
Dockerfile
docker-compose.yml
.dockerignore
*.md
.prettierignore
.prettierrc
eslint.config.mjs
postcss.config.mjs
pnpm-workspace.yaml
tsconfig.tsbuildinfo
