# Resend API Configuration
RESEND_API_KEY=api_key_here

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=client_id_here
GITHUB_CLIENT_SECRET=client_secret_here

# Admin Owner Account
ADMIN_OWNER_ACCOUNT=owner_username_here

# Database Connection Configuration (Prisma)
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# Maintenance Mode Configuration
# MAINTENANCE_MODE Overrides Admin Option, BYPASS_KEY Acts As Default
MAINTENANCE_MODE=false
MAINTENANCE_BYPASS_KEY=your_bypass_key_here

# Google Tag Manager Configuration
GTM_ID=GTM-XXXXXXX