# Resend API Configuration
RESEND_API_KEY=api_key_here

# Maintenance Mode Configuration (Bypass: https://tristanbudd.com?bypass=BYPASS_TOKEN_HERE)
MAINTENANCE_MODE=false
MAINTENANCE_BYPASS_KEY=bypass_token_here

